* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --signup-box-width: 55rem;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
}

.photo-box {
    background-image: url("./images/scott-lord-C06lMThXvss-unsplash.jpg");
    width: 45rem;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-box {
    font-family: Norse-Bold, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
    width: 100%;
    height: 9rem;
}

.logo-box > img {
    height: 100%;
    object-fit: contain;
}

.credit-text {
    position: absolute;
    top: 95%;
}

.credit-text, .credit-text a {
    color: white;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

.credit-text a:visited {
    color: #ff0077;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 1rem;
    background-color: rgb(249, 250, 251);
    width: var(--signup-box-width);
}

.signup-text, .signup-rows > p:first-child {
    font-weight: bold;
    font-size: 1.4rem;
}

.signup-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2rem;
}

.signup-form {
    width: 100%;
}

.signup-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 550;
    color: rgb(113, 119, 127);
}

.signup-rows {
    background-color: white;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.signup-field > input {
    border: 1px #E5E7EB solid;
    padding: 0.2rem;
    border-radius: 1rem;
}

.signup-field > input:focus {
    outline: none;
    border: 2px blue solid;
    box-shadow: 1px 1px 2px 2px black;
}

.signup-field > input:user-valid {
    border: 1px green solid;
}

.signup-field > input:user-invalid {
    border: 1px red solid;
}


.signup-row {
    display: flex;
    gap: 5rem;
}

.signup-form > form {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
}

.signup-button > button {
    background-color: #ff0077;
    border: 0;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
    color: white;
    font-weight: 500;
}

.signup-button {
    padding: 0 2rem;
}

.account-box {
    display: flex;
    align-self: flex-start;
    padding: 0 2rem;
    font-weight: 600;
}

.account-box a {
    color: #ff0077;
    text-decoration: none;
}
